head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Massajja Ufarm
  link(rel='stylesheet' href='css/bootstrap/bootstrap.css')
  link(rel='stylesheet' href='css/style.css')
nav.navbar.navbar-expand-lg.navbar-light(style='background-color: #6B8E23;')
  a.navbar-brand(href='welcome2') Ufarm
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='welcome2')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='aboutUfarm') About Us
      li.nav-item
        a.nav-link(href='contactUfarm') Contact Us
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | LogIn
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='loginAO') Agricultural Officer
          .dropdown-divider
          a.dropdown-item(href='loginFO') Farmer One
          .dropdown-divider
          a.dropdown-item(href='loginUF') Urban Farmer
body
  .container
    .row
      .col-4
        p
        h4 Our Vision
        p
        p
        p Easing market access for urban farmers
      .col-4
        p
        h4 Our Mission
        p
        p
        p Masajja Division Urban Farming Initiative(Ufarm) is a program to promote and support urban farming practice while easing market access and improving on the family earnings and livelihoods. 
      .col-4
        p
        h4 Our Values
        p
        p
        ul 
          li Affordability
          li Dependability
          li Quality Products
          li Agility
    .row
      .col-4
        .cardAbout(style='width: 20rem;')
          img.card-img-top(src='../img/sylviaAO.jpg' alt='...')
          .card-body
            h5.card-title Agricultural Officer Ufarm 
            p.card-text1 Masajja Division
            p.aboutMessage Sylvia Boonabaana
      .col-4
        .cardAbout(style='width: 20rem;')
          img.card-img-top(src='../img/sylviaAO.jpg' alt='...')
          .card-body
            h5.card-title Chairperson Farmers Forum  
            p.card-text1 KCCA
            p.aboutMessage Name Name
      .col-4
        .cardAbout(style='width: 20rem;')
          img.card-img-top(src='../img/sylviaAO.jpg' alt='...')
          .card-body
            h5.card-title Permanent Sec. MAIAF 
            p.card-text1 Masajja Ward
            p.aboutMessage Jackie Davis
script(src='js/jquery-3.5.1.slim.min.js')
script(src='js/popper.min.js')
script(src='js/bootstrap/bootstrap.js')
script(src='./js/massajaUfarm.js')