head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Massajja Ufarm
  link(rel='stylesheet' href='css/bootstrap/bootstrap.css')
  link(rel='stylesheet' href='css/style.css')
nav.navbar.navbar-expand-lg.navbar-light(style='background-color: #6B8E23;')
  a.navbar-brand(href='welcome') Ufarm
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='welcome')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='aboutUfarm') About Us
      li.nav-item
        a.nav-link(href='contactUfarm' tabindex='-1' aria-disabled='true') Contact Us
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | LogIn
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='loginAO') Agricultural Officer
          .dropdown-divider
          a.dropdown-item(href='loginFO') Farmer One
          .dropdown-divider
          a.dropdown-item(href='loginUF') Urban Farmer
.container
  p contact page
script(src='js/jquery-3.5.1.slim.min.js')
script(src='js/popper.min.js')
script(src='js/bootstrap/bootstrap.js')
script(src='./js/massajaUfarm.js')