html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Massajja Ufarm
        link(rel='stylesheet' href='css/bootstrap/bootstrap.css')
        link(rel='stylesheet' href='css/style.css')
    nav.navbar.navbar-expand-lg.navbar-light(style='background-color: #6B8E23;')
        a.navbar-brand(href='welcome2') Ufarm
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
    body
        img.errorImage(src="/img/error3.png", alt="")
        p
        a.errorBTN(href="welcome2")
            input(type='button' value='Return to  home page')
        //- a(href="https://goo.gl/maps/AYZkVdF5U5cSmzGd7")
        //-     input(type='button' value='Directions' name='directions')