head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Massajja Ufarm
  link(rel='stylesheet' href='./css/bootstrap/bootstrap.css' type='text/css')
  link(rel='stylesheet' href='./css/style.css' type='text/css')
nav.navbar.navbar-expand-lg.navbar-light(style='background-color: #6b8e23')
  a.navbar-brand(href='welcome') Ufarm
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='welcome')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='contactUfarm') Contact Us
      li.nav-item
        a.nav-link(href='aboutUfarm') About Us   
  form(method="post" action='/logout') 
    button.btn.btn-dark.btn-block(type="submit") Log out

body
    .row
        .col-4
        .col-4
            img.farmerUploadImages.imageUpload(src='img/greenLeafSideImage1.png' alt='')
            h4.imageheader Upload Your New Product Here
            form(name='uploadForm' action='/farmerUpload' enctype='multipart/form-data' method='POST' onsubmit='return validateUpload()')
              .form-group.row
                .col-md-6
                  input#userNameUF.form-control(type='text' name='productName' placeholder='Product Name')
                  span#productnameErr
                .col-md-6
                  select#inputWard.form-control(name='wardUF')
                    option(value='Default' selected='') Ward
                    option(value='Busabala') Busabala
                    option(value='Massajja') Masajja
                    option(value='Kikajjo') Kikajjo
                    option(value='Namasuba') Namasuba
                  span#wardUFerr
              .form-group.row  
                .col-md-4
                  input#inputUploadDate.form-control(type ='text' name='uploadDate' placeholder='Date of Upload' onfocus="(this.type='date')")
                  span#uploadDateErr
                .col-md-4
                  input#inputPrice.form-control(type='text' name='quantity' placeholder='Quantity')
                  span#priceErr
                .col-md-4
                  input#inputPrice.form-control(type='text' name='price' placeholder='Price')
                  span#priceErr
              .form-group
                textarea#exampleFormControlTextarea1.form-control(rows='3' name="productDescription" placeholder='Product Description')
                span#descErr
              .form-group
                    .form-check-inline
                      label.form-check-label(for='organic')  Produce Type
                    .form-check-inline
                      input#organicType.form-check-input(type='radio' name='productType' value='Organic' checked='')
                      label.form-check-label(for='organic')  Organic 
                    .form-check-inline
                      input#inorganicType.form-check-input(type='radio' name='productType' value='Inorganic')
                      label.form-check-label(for='inorganic')  Inorganic 
              .form-group
                .form-check-inline
                  label.form-check-label(for='organic')  Payment Mode
                .form-check-inline
                  input#organicType.form-check-input(type='radio' name='paymentMode' value='Organic' checked='')
                  label.form-check-label(for='organic') Cash
                .form-check-inline
                  input#inorganicType.form-check-input(type='radio' name='paymentMode' value='Inorganic')
                  label.form-check-label(for='inorganic')  Mobile Money
              .form-group
                .form-check-inline
                  label.form-check-label(for='organic')  Delivery Mode
                .form-check-inline
                  input#organicType.form-check-input(type='radio' name='delivery' value='Organic' checked='')
                  label.form-check-label(for='organic')  Pick Up 
                .form-check-inline
                  input#inorganicType.form-check-input(type='radio' name='delivery' value='Inorganic')
                  label.form-check-label(for='inorganic')  Home Delivery
              .form-group
                .form-check-inline
                  input#uploadProduct(type='file' name='productImage')
                .form-check-inline
                  input#registerFO.btn.btn-primary(type='submit' name='uploadproduct' value='Upload')
        .col-4  
script(src='./js/jquery-3.5.1.slim.min.js')
script(src='./js/popper.min.js')
script(src='./js/bootstrap/bootstrap.js')
script(src='./js/massajaUfarm.js')