head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Massajja Ufarm
  link(rel='stylesheet' href='css/bootstrap/bootstrap.css')
  link(rel='stylesheet' href='css/style.css')
nav.navbar.navbar-expand-lg.navbar-light(style='background-color: #6B8E23;')
  a.navbar-brand(href='welcome2') Ufarm
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='welcome2')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='aboutUfarm') About Us
      li.nav-item
        a.nav-link(href='contactUfarm') Contact Us
      li.nav-item
        a.nav-link(href='productDash') Browse Products
      li.nav-item
        a.nav-link(href='login') Log In
.container.welcomepage
  .row
    .col-6
      img.welcomeimage(src="../img/welcomeImage.jpg", alt="")
    .col-6
      h1#welcome-message Welcome to Massaja Division Ufarm
      p#welcome-tag Connecting you to first class agricultural produce by a click of a button from anywhere
      a.viewProducts(href="productDash")
        input(type='button' value='View Available Products')
//- footer.row.justify-content-center
//-             div.col-md-6
//-                 block footer
//-                     div.col-md-12 © 2020 Massajja Division Ufarm.
script(src='js/jquery-3.5.1.slim.min.js')
script(src='js/popper.min.js')
script(src='js/bootstrap/bootstrap.js')
