head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Massajja Ufarm
  link(rel='stylesheet' href='./css/bootstrap/bootstrap.css' type='text/css')
  link(rel='stylesheet' href='./css/style.css' type='text/css')
nav.navbar.navbar-expand-lg.navbar-light(style='background-color: #6b8e23')
  a.navbar-brand(href='index.html') Ufarm
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='welcome')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='contactUfarm') Contact Us
      li.nav-item
        a.nav-link(href='aboutUfarm' tabindex='-1' aria-disabled='true') About Us
form.farmerOneRegister(name='foRegisterForm' action='/registerFO' method='POST' onsubmit='registerFOform()')
  img.formImages(src='img/greenLeafSideImage1.png' alt='')
  h4#registerFO Register New Farmer One  Here
  .form-row
    .form-group.col-md-4
      input#inputFirstName.form-control(type='text' placeholder='First Name' name='firstNameFO')
      span#fnameFOerr
    .form-group.col-md-4
      input#inputLastName.form-control(type='text' placeholder='Last Name' name='lastNameFO')
      span#lnameFOerr
    .form-group.col-md-4
      input#inputUserName.form-control(type='text' placeholder='User Name' name='userNameFO')
      span#unameFOerr
  .form-row
    .form-group.col-md-4
      input#inputFOnumber.form-control(type='password' placeholder='FO Number' name='foNumber')
      span#foNumErr
    .form-group.col-md-4
      input#inputNIN.form-control(type='password' placeholder='NIN number' name='foNIN')
      span#foNINerr
    .form-group.col-md-4
      input#inputPhoneNumber.form-control(type='text' placeholder='Phone Number e.g. 0700123456' name='phoneNumberFO')
      span#fophoneNumErr
  .form-row
    .form-group.col-md-4
      select#inputWard.form-control(name='ward')
        option(value='Default' selected='') Select your Ward
        option(value='Busabala') Busabala
        option(value='Massajja') Masajja
        option(value='Kikajjo') Kikajjo
        option(value='Namasuba') Namasuba
      span#wardErr
    .form-group.col-md-4
      select#inputYears.form-control(name='stayPeriod')
        option(value='Default' selected='') Period of Stay
        option(value='10-15yrs') 10-15 years
        option(value='15-20yrs') 15-20years
        option(value='+20yrs') 20 years +
      span#stayPeriodErr
    .form-group.col-md-4
      select#inputResidence.form-control(name='residenceType')
        option(value='Default' selected='') Residence type
        option(value='Citizen') Citizen
        option(value='NonCitizen') NonCitizen
      span#residenceErr
  .form-row
    .form-group.col-md-6
      input#inputDOB.form-control(type='text' placeholder='Date of Birth dd/mm/yyyy' name='dobFO')
      span#dobFOerr
    .form-group.col-md-6
      input#inputDOR.form-control(type='text' placeholder='Registration Date dd/mm/yyyy' name='dorFO')
      span#dorFOerr
  .form-check.form-check-inline
    input#horticultureProduce.form-check-input(type='checkbox' value='Horticulture' name='produceType')
    label.form-check-label(for='inlineCheckbox1') Horticulture Produce
  .form-check.form-check-inline
    input#poultryProducts.form-check-input(type='checkbox' value='Poultry' name='produceType')
    label.form-check-label(for='inlineCheckbox2') Poultry products
  .form-check.form-check-inline
    input#diaryProducts.form-check-input(type='checkbox' value='Diary' name='produceType' checked='')
    label.form-check-label(for='inlineCheckbox3') Diary Products
  .form-group
    .form-check-inline
      input#genderM.form-check-input(type='radio' name='gender' value='Male' checked='')
      label.form-check-label(for='genderM')  Male 
    .form-check-inline
      input#genderF.form-check-input(type='radio' name='gender' value='Female')
      label.form-check-label(for='genderF')  Female 
  button#registerFO.btn.btn-primary(type='submit')
    | Register
  br
script(src='./js/jquery-3.5.1.slim.min.js')
script(src='./js/popper.min.js')
script(src='./js/bootstrap/bootstrap.js')
script(src='./js/massajaUfarm.js')
