head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Massajja Ufarm
  link(rel='stylesheet' href='./css/bootstrap/bootstrap.css' type='text/css')
  link(rel='stylesheet' href='./css/style.css' type='text/css')
nav.navbar.navbar-expand-lg.navbar-light(style='background-color: #6b8e23')
  a.navbar-brand(href='welcome') Ufarm
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='welcome')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='contactUfarm') Contact Us
      li.nav-item
        a.nav-link(href='aboutUfarm') About Us
form.farmerOneRegister(name='agricOfficerForm' action='/registerAO' method='POST')
  img.formImages(src='img/greenLeafSideImage1.png' alt='')
  h4#registerFO Sign Up New Agricultural Officer
  .form-row
    .form-group.col-md-4
      input.form-control(type='text' placeholder='First Name' name='firstNameAO')
      span#fnameAOerr
    .form-group.col-md-4
      input.form-control(type='text' placeholder='Last Name' name='lastNameAO')
      span#lnameAOerr
    .form-group.col-md-4
      input.form-control(type='text' placeholder='User Name' name='username')
      span#unameAOerr
  .form-row
    .form-group.col-md-4
      input.form-control(type='password' placeholder='Password' name='password')
      span#pwdErr
    .form-group.col-md-4
      input.form-control(type='text' placeholder='Phone Number e.g. 0700123456' name='phoneNumberAO')
      span#aophoneNumErr
    .form-group.col-md-4
      select.form-control(name='ward')
        option(value='Default' selected='') Select your Ward
        option(value='Busabala') Busabala
        option(value='Massajja') Masajja
        option(value='Kikajjo') Kikajjo
        option(value='Namasuba') Namasuba
      span#wardErr
  .form-group
    .form-check-inline
      input.form-check-input(type='radio' name='gender' value='Male' checked='')
      label.form-check-label(for='genderM')  Male 
    .form-check-inline
      input.form-check-input(type='radio' name='gender' value='Female')
      label.form-check-label(for='genderF')  Female 
  a#registerAgricOfficer(href='#')
    input.btn.btn-primary(type='button' value='Register')
script(src='./js/jquery-3.5.1.slim.min.js')
script(src='./js/popper.min.js')
script(src='./js/bootstrap/bootstrap.js')
script(src='./js/validateMassajaUfarm.js')