head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Massajja Ufarm
  link(rel='stylesheet' href='css/bootstrap/bootstrap.css')
  link(rel='stylesheet' href='css/style.css')
nav.navbar.navbar-expand-lg.navbar-light(style='background-color: #6b8e23')
  a.navbar-brand(href='welcome') Ufarm
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='welcome')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='uploadUF') Upload
      //
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
        </div>
        </li>
      li.nav-item
        a.nav-link(href='#' tabindex='-1' aria-disabled='true') About Us
    form.form-inline.my-2.my-lg-0
      input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
      button.btn.btn-outline-success.my-2.my-sm-0(type='submit')
        | Search
.after-login
  h4 Sign In as Urban Farmer
  form.agric-FO-Login(action='/loginUF' method='POST' name='urbanFarmerLogin')
    .form-group
      input#usernameFO.form-control(type='text' placeholder='UF Username')
      // <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    .form-group
      input#inputFONum.form-control(type='password' placeholder='Urban Farmer ID')
    a(href="farmerUpload")
      button.btn.btn-primary(type='submit') Log In