head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Massajja Ufarm
  link(rel='stylesheet' href='/css/bootstrap/bootstrap.css' type='text/css')
  link(rel='stylesheet' href='/css/style.css' type='text/css')
nav.navbar.navbar-expand-lg.navbar-light(style='background-color: #6b8e23')
  a.navbar-brand(href='welcome2') Ufarm
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='welcome2')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='contactUfarm') Contact Us
      li.nav-item
        a.nav-link(href='aboutUfarm') About Us
.container
  form.farmerOneRegister(method="post" action="/update?id="+user._id)
    img.formImages(src='/img/greenLeafSideImage1.png' alt='')
    h4#registerFO Update Farmer One  Information Here
    .form-row
      .form-group.col-md-6
        label First Name
        input#inputFirstName.form-control(value = user.firstNameFO name ="firstNameFO")
      .form-group.col-md-6
        label Last Name
        input#inputLastName.form-control(value = user.lastNameFO name ="lastNameFO")
    .form-row
      .form-group.col-md-6
        label FO NIN
        input#inputNIN.form-control(value = user.foNIN name ="foNIN")
      .form-group.col-md-6
        label Contact
        input#inputPhoneNumber.form-control(value = user.phoneNumberFO name ="phoneNumberFO")
    .form-row
      .form-group.col-md-4
        label Ward
        select#inputWard.form-control(name='ward')
          option(value="Busabala" selected = user.ward === "Busabala") Busabala
          option(value="Massajja" selected = user.ward === "Massajja") Massajja
          option(value="Kikajjo" selected = user.ward === "Kikajjo") Kikajjo
          option(value="Namasuba" selected = user.ward === "Namasuba") Namasuba
      .form-group.col-md-4
        label Period of Stay
        select#inputYears.form-control(name='stayPeriod')
          option(value="10-15yrs" selected = user.stayPeriod === "10-15yrs") 10-15yrs
          option(value="15-20yrs" selected = user.stayPeriod === "15-20yrs") 15-20yrs
          option(value="+20yrs" selected = user.stayPeriod === "+20yrs") +20yrs
      .form-group.col-md-4
        label Residence Type
        select#inputResidence.form-control(name='residenceType')
          option(value="Citizen" selected = user.residenceType === "Citizen") Citizen
          option(value="Non Citizen" selected = user.residenceType === "Non Citizen") Non Citizen
    .form-row
      .form-group.col-md-6
        label Date of Birth
        input#inputDOB.form-control(value = user.dobFO name ="dobFO")
      .form-group.col-md-6
        label Date of Registration
        input#inputDOR.form-control(value = user.dorFO name ="dorFO")
    .form-check.form-check-inline
      input#horticultureProduce.form-check-input(value= "Horticulture" type="checkbox" checked = user.produceType.includes('Horticulture') name="produceType")
      label.form-check-label(for='inlineCheckbox1') Horticulture Produce
    .form-check.form-check-inline
      input#poultryProducts.form-check-input(value= "Poultry" type="checkbox" checked = user.produceType.includes('Poultry') name="produceType")
      label.form-check-label(for='inlineCheckbox2') Poultry products
    .form-check.form-check-inline
      input#diaryProducts.form-check-input(value= "Dairy" type="checkbox" checked = user.produceType.includes('Dairy') name="produceType")
      label.form-check-label(for='inlineCheckbox3') Diary Products
    .form-group
      .form-check-inline
        input#genderM.form-check-input(value= "Male" type="radio" checked = user.gender==="Male" name="gender")
        label.form-check-label(for='genderM')  Male 
      .form-check-inline
        input#genderF.form-check-input(value= "Female" type="radio" checked = user.gender==="Female" name="gender")
        label.form-check-label(for='genderF')  Female 
    button#registerFO.btn.btn-primary(type='submit')
      | Update
    br
script(src='./js/jquery-3.5.1.slim.min.js')
script(src='./js/popper.min.js')
script(src='./js/bootstrap/bootstrap.js')
script(src='./js/massajaUfarm.js')