
.navbar {
  border-bottom: solid white 1px;
}

.navbar-brand {
  color: white;
}

.welcomeimage{
  width: 100%;
  margin-top: 150px;
  margin-left: -100px;
}

.fologinimage{
  width: 100%;
  margin-top: 200px;
  margin-left: 100px;
}

#welcome-message{
  padding-top: 250px;
  text-align: center;
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#welcome-tag {
  margin-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
  text-align: center;
}

.after-login {
  background-color: olivedrab;
  height: 680px;
}
.after-login h4 {
  font-weight: bold;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding-top: 100px;
}

.agric-FO-Login {
  width: 400px;
  margin-top: 300px;
  margin-left: 100px;
}

.btn {
  background-color: darkolivegreen;
  border-color: white;
}

.farmerOneRegister {
  margin-left: 200px;
  margin-right: 200px;
}
.farmerOneRegister h4 {
  text-align: center;
  padding: 20px;
}

.formImages {
  margin-left: 450px;
}
.farmerUploadImages{
  margin-left: 650px;
}

.d-block.w-100{
  height: 400px;
}

.card{  
  margin-left: 300px;
  margin-top: -30px;
}
.contactMessage{
  font-weight: bold;
  color: olivedrab;
  text-align: center;
}
.card-text{
  text-align: center;
}
.card2{
  margin-left: 300px;
  margin-top: -212px;
  background-color: white;
}
.card-body{
  background-color: white;
}

/* .container{
  background-color: olivedrab;
} */
